.parallax-container {
	position: relative;
}
.inner-parallax {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
  /*  -webkit-box-shadow: 0px 0px 213px 158px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 0px 213px 158px rgba(0,0,0,0.8);
box-shadow: 0px 0px 213px 158px rgba(0,0,0,0.8);*/
	color: white;
    background: rgba(0, 0, 0, 0.8);
}